
<header class="bg-dark" data-load="header.html">
    <div class="navigation-bar dark">
        <nav class="navigation-bar dark fixed-top shadow">
            <div class="navigation-bar-content container">
                <a href="/" class="element"><span class="icon-grid-view"></span><span>&nbsp;LaperLa</span></a>

                <div class="no-tablet-portrait">
                    <span class="element-divider"></span>
                    <ul class="element-menu">
                        <li>
                            <a href="/Home/Index"><i class="icon-file-excel"></i>&nbsp;统计</a>
                        </li>
                        <li>
                            <a href="/Import/Index"><i class="icon-database"></i>&nbsp;基础数据导入</a>
                            @*<ul class="dropdown-menu dark" data-role="dropdown">
                                <li><a href="#" data-tag="district">地区</a></li>
                                <li><a href="#">店铺信息</a></li>
                                <li><a href="#">员工信息</a></li>
                            </ul>*@
                        </li>
                    </ul>
                    <div class="element place-right horizontal-menu">
                        <a class="dropdown-toggle" href="#" style="display: inline-block;">
                            <span class="icon-cog"></span>
                        </a>
                        <ul class="dropdown-menu place-right span2" data-role="dropdown" data-show="hover">
                            <li><a href="#">修改密码</a></li>
                            <li><a href="#">修改信息</a></li>
                        </ul>
                    </div>
                    <span class="element-divider place-right"></span>
                    <button class="element image-button place-right">
                        退出
                    </button>
                </div>
            </div>
        </nav>
    </div>
</header>


